<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241959563034-m1k9sd5sdpiap1k0uoa1d675tg4lp12a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241959563034-m1k9sd5sdpiap1k0uoa1d675tg4lp12a</string>
	<key>API_KEY</key>
	<string>AIzaSyDU-o4ii-V-P6SFNL7w_BKgckpUrpnDqwk</string>
	<key>GCM_SENDER_ID</key>
	<string>241959563034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project1</string>
	<key>PROJECT_ID</key>
	<string>bootcamp-app-fa225</string>
	<key>STORAGE_BUCKET</key>
	<string>bootcamp-app-fa225.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241959563034:ios:9593b29f93ac11042186a3</string>
</dict>
</plist>